/*  Search Input Form and Image   */
#search {
    position: relative;
    z-index:10000;
    float: right;
    margin: 5px -70px 0 0;
}

#search .image {
    padding-right:5px;
}

#search-input {

}

#search-input .srchBoxCont {

}

#search-input .srch_box {
    font-family: Arial, sans-serif;
    font-size: 120%;
    border: 1px solid #ccc;
    width: 200px;
    height: 21px;
    float: left;
    border-radius: 0.3em;
    margin-bottom:6px;
}

#search-input .srchButtonBorder {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 28px;
    margin-bottom:6px;
}

.entry-content img, .comment-content img, .widget img {
    max-width:170%
}

.entry-content table, .comment-content table {
    margin:0;
}


/*  Products   */
.noResults {

    font-size:2.4em;
}

.noResults-secondary {
    font-size:14px;
}

.noResults-padding{
    min-height:300px
}

#facets {
    font-size:11px;
    background:#F0F4F5;
    width:100%;
    border-top: 1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;

}

#facets .brands {
    width:48%;
    float:left;
    padding:5px;
    border-top:0;
}

.brands .noBrands {
    font-size:12px;
}

.brands .browseBrands {
    font-size:13px;
}

.brands .filteredBrand {
    font-size:13px;
}

#facets .merchants {
    width:48%;
    float:right;
    padding:5px;
    border-top:0;
}

#brandList {
    margin:0;
}

#merchantList {
    margin:0;
}

.merchants .noMerchants {
    font-size:12px;
}

.merchants .browseMerchants {
    font-size:13px;
}

.merchants .filteredMerchants {
    font-size:13px;
}

.table-seperator {
    padding-bottom:4px;
}

.totalFound {
    float:left;
    padding: 0 0 0 15px;
}

#productList {
    width:100%;
}

#productList .productBlock {
    border-bottom:1px solid #CCC;
    height:140px;
}

#productList .productImage {
    width:13%;
}

#productList .productContent {
    width:70%;
    padding-left:35px;
    vertical-align:top;
}

.productContent .productTitle {
    padding-bottom:5px;
    font-size:16px;
}

.productContent .productDescription {
    padding-bottom:5px;
    font-size:14px;
}

.productContent .productBrandMerchant {
    font-size:12px;
}

#productList .productEnd {
    width:17%;
    font-size:18px;
    vertical-align:top;
}

.productEnd .productPriceNoSale {
    padding-bottom:15px;
}

.productEnd .productPrice {
    padding-bottom:3px;
}

.productPrice span {
    text-decoration: line-through;
}

.productEnd .productPriceSale {
    padding-bottom:15px;
}

.productPriceSale span {
    color:#cc6600;
}

/* Coupons */
#couponList {
    width:100%;
}

#couponList .couponBlock {
    border-bottom:1px solid #CCC;
    min-height:90px;
}

#couponList .couponImage {
    width:13%;
    vertical-align:middle;
}

#couponList .couponContent {
    width:87%;
    padding-left:40px;
    vertical-align:top;
}

.couponContent .couponTitle {
    display:block;
    font-size:0.95em;
}

.couponContent .couponDescription {
    display:block;
    font-size:0.85em;
}

#couponList .couponVisit {
    display:inline;
    float:right;
    padding:4px 0 0 0;
    height:45px;
}

.couponContent .couponExpire {
    display:block;
}

.couponContent .couponCode {
    color:#333;
    display:inline;
    padding:5px 0 0 0;
    font-weight:bold;
    font-size: 16px;
}

span.code_cc{
    color:#333;
    border:2px dashed #3079ed;
    padding: 2px 3px;
    background:none repeat scroll 0 0 #d7e3f5;
    font-weight:bold;
    font-size:16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
}

.couponExpire span {
    font-size:13px;
    color:red;
    font-weight:bold;
}

/* Pagination */
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}
