/*  Search Input Form and Image   */
#search {
	position: relative; 
	z-index:10000; 
	float: right;	 
	margin: 5px -70px 0 0;
}

#search .image {
	padding-right:5px;
}

#search-input {

}

#search-input .srchBoxCont {

}

#search-input .srch_box {
	font-family: Arial, sans-serif;
	font-size: 120%;	
	border: 1px solid #ccc;
	width: 250px;
	height: 22px;
	float: left;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	margin-bottom:6px;
}

#search-input .srchButtonBorder {
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	height: 28px;
	margin-bottom:6px;
}

.srchButtonBorder input {
	border: medium none;
	font-size: 12px;
	height: 27px;
	padding: 3px;
	text-align: center;
}

.faded {
	color:#aaa;
}

p {
	margin-bottom: 0 !important;
}

.entry-content img, .comment-content img, .widget img {
	max-width:170%
}

.entry-content table, .comment-content table {
	margin:0;
}

/*  Products   */
.noResults {
	padding-top:25px; 
	font-size:2.4em;
}

.noResults-secondary {
	min-height:400px;
	font-size:14px;
}

#facets {
	font-size:11px; 
	background:#F0F4F5; 
	width:100%; 
	border-top: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}

#facets .brands {
	width:48%; 
	float:left; 
	padding:5px;
	border-top:0;
}

.brands .noBrands {
	font-size:12px;
} 

.brands .browseBrands {
	font-size:13px;
}

.brands .filteredBrand {
	font-size:13px;
}

#facets .merchants {
	width:48%; 
	float:right; 
	padding:5px;
	border-top:0;
}

#brandList {
	margin:0;
}

#merchantList {
	margin:0;
}

.merchants .noMerchants {
	font-size:12px;
} 

.merchants .browseMerchants {
	font-size:13px;
}

.merchants .filteredMerchant {
	font-size:13px;
}

.table-seperator {
	padding-bottom:10px;
}

.totalFound {
	float:left; 
	padding: 3px 0 0 15px;
}

#productList {
	width:100%;
}

#productList .productBlock {
	border-bottom:1px solid #CCC; 
	height:140px;
}

#productList .productImage {
	width:13%; 
}

#productList .productContent {
	width:70%;
	padding-left:35px;
	vertical-align:top;
}

.productContent .productTitle {
	padding-bottom:5px; 
	font-size:16px;
}

.productContent .productDescription {
	padding-bottom:5px;
	font-size:14px;
}

.productContent .productBrandMerchant {
	font-size:12px;
}

#productList .productEnd {
	width:17%; 
	font-size:18px;
	vertical-align:top; 
}

.productEnd .productPriceNoSale {
	padding-bottom:15px;
}

.productEnd .productPrice {
	padding-bottom:3px;
}

.productPrice span {
	text-decoration: line-through;
}

.productEnd .productPriceSale {
	padding-bottom:15px;
}

.productPriceSale span {
	color:#cc6600;
}


/* Pagination */
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}